<mat-card>
  <form class="example-form" (ngSubmit)="onFormSubmit(form)" #form='ngForm'>
    <mat-form-field class="example-full-width">
      <input matInput placeholder="Type here" value="" name="title" ngModel>
    </mat-form-field>
    <button mat-raised-button type="submit" color="warn">Add</button>
  </form>
</mat-card>
<mat-card class="task-item" *ngFor="let task of openTasks" >
    <mat-checkbox class="item-title" (change)="closeTask(task)">
    </mat-checkbox>
    <span class="item-title">{{ task.title }}</span>
    <span class="spacer"></span>
    <button mat-icon-button color="primary">
        <mat-icon *ngIf="!task.important" (click)="setImportantTask(task)">star_border</mat-icon>
        <mat-icon *ngIf="task.important" (click)="setNotImportantTask(task)">star</mat-icon>
    </button>
</mat-card>
<mat-accordion>
    <mat-expansion-panel >
      <mat-expansion-panel-header>
        <mat-panel-title>
         Closed Tasks
        </mat-panel-title>
        <mat-panel-description>
        </mat-panel-description>
      </mat-expansion-panel-header>
      
      <mat-card class="task-item closed-task" *ngFor="let task of closedTasks" >
          <mat-checkbox class="item-title" (change)="openTask(task)">
          </mat-checkbox>
          <span class="item-title">{{ task.title }}</span>
          <span class="spacer"></span>
          <button mat-icon-button color="primary" disabled>
              <mat-icon *ngIf="!task.important">star_border</mat-icon>
              <mat-icon *ngIf="task.important" >star</mat-icon>
          </button>
      </mat-card>

    </mat-expansion-panel>
  </mat-accordion>

