<!--The content below is only a placeholder and can be replaced.-->

<mat-toolbar color="primary">
  <mat-toolbar-row>
    <span>TODO list</span>
  </mat-toolbar-row>
</mat-toolbar>
  
<app-todo-list></app-todo-list>